<div class="row">
    <div class="col-md-12">
        <div class="card card-outline card-primary collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Busqueda</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <form action="" class="form mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="selFiltro" class="col-2 col-form-label">Filtro Tipo</label>
                                <div class="col-10">
                                    <select class="form-control select2" style="width: 100%;" id='selFiltro'>
                                        <option value="TODOS" selected="selected">TODOS</option>
                                        <option value="TIPO">TIPO</option>
                                        <option value="NOMBRE">NOMBRE PRODUCTO</option>
                                        <option value="CODIGO">CODIGO PRODUCTO</option>
                                        <option value="FECHA">FECHAS</option>
                                        <option value="ENTRADA">ENTRADAS</option>
                                        <option value="SALIDA">SALIDAS</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="example-date-input" class="col-2 col-form-label">Filtro</label>
                                <div class="col-10">
                                    <input class="form-control" type="text" id="txtFiltro">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="example-date-input" class="col-2 col-form-label">Inicial</label>
                                <div class="col-10">
                                    <input class="form-control" id="fchinicial" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="example-date-input" class="col-2 col-form-label">Final</label>
                                <div class="col-10">
                                    <input class="form-control" type="date" id="fchfinal">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary fa-pull-right" id="btbBuscar">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tabla -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="card-title">Productos</h3>
                            </div>
                            <div class="col-md-2  ">
                                <a href="/producto_add" class=" btn btn-primary fa-pull-right "> Nuevo</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="DataTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ACCION</th>
                                    <th>IMAGEN</th>
                                    <th>NOMBRE</th>
                                    <th>CODIGO</th>
                                    <th>DESCRIPCION</th>
                                    <th>MEDIDA</th>
                                    <th>ENTRADAS</th>
                                    <th>SALIDAS</th>
                                    <th>EXISTENCIAS</th>
                                </tr>
                            </thead>
                            <tbody>
                                      {{#each producto}}
                                <tr>
                                <td> 
                                    <a href="producto_transaccion/{{idPRODUCTO}}" class="btn btn-success ml-2 mt-2"> <i class="fas fa-retweet"></i></i>  </a> 
                                    <a href="producto_edit/{{idPRODUCTO}}" class="btn btn-primary ml-2 mt-2"> <i class="fas fa-edit"></i></i>  </a> 
                                    <a href="producto_delete/{{idPRODUCTO}}" class="btn btn-danger ml-2 mt-2"> <i class="fas fa-trash-alt"></i>  </a> 
                                </td>
                                <td>{{IMG}}</td>
                                <td>{{NOMBRE}}</td>
                                <td>{{CODIGO}}</td>
                                <td>{{DESCRIPCION}}</td>
                                <td>{{TIPOUNIDAD}}</td>
                                <td>entradas</td>
                                <td>salidas</td>
                                <td>salidas</td>
                                    </tr>
                                {{else}}
                                {{/each}}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ACCION</th>
                                    <th>IMAGEN</th>
                                    <th>NOMBRE</th>
                                    <th>CODIGO</th>
                                    <th>DESCRIPCION</th>
                                    <th>MEDIDA</th>
                                    <th>ENTRADAS</th>
                                    <th>SALIDAS</th>
                                    <th>EXISTENCIAS</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>